body {
	background-color: white;
}

h1 {
	margin-bottom: 2rem;
	text-align: center;
	color: rgb(1, 1, 63);
	text-shadow: 1.5px 1.5px black;
	font-size: 2.8rem;
	padding-top: 10rem;
	text-shadow: 1.5px 1.5px skyblue;
}

.error {
	color: red;
}

form {
	width: 30rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: rgb(1, 1, 63);
	color: white;
	padding: 2rem;
	border-radius: 2rem;
	margin-bottom: 5rem;
	padding-bottom: 2rem;
}

form a:hover{
	color: white;
}

form a{
	color: skyblue;
}

label {
	display: block;
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 1.2rem;
}

.button {
	text-align: center;
	font-size: 1.2rem;
	cursor: pointer;
	margin: 1rem;
	margin-top: 3rem;
	padding: .4rem 1.2rem;
	background-color: lightblue;
	border: none;
	color: rgb(1, 1, 63);
	font-family: 'Staatliches', sans-serif;
}

.button:hover{
	color: white;
}

input[type='text'], input[type='password']{
	padding: .5rem;
	border: 1px solid black;
	width: 15rem;
}
