body {
  background-color: black;
  color: white;
}

h1 {
  margin-top: 3rem;
  color: white;
  text-align: center;
  padding: 3rem;
  font-size: 2.5rem;
  text-shadow: 1.5px 1.5px red;
}

h2 {
  text-align: center;
}

.see-concerts {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.see-concerts a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

.see-concerts a:hover {
  color: red;
  transition: .5s;
}
